<aside class="overview">
    <ul>
    {{#each pages}}
        <li>
            <a href="/{{this.route}}.html">
                {{ this.name }}
            </a>
        </li>
    {{/each}}
    </ul>
</aside>