$footer-color: $black;

#footer {

    color: $footer-color;

    a {
        &:link,
        &:visited {
            color: $footer-color;
        }
    }
    h4 {
        font-family: $body-font-family;
        font-weight: bold;
        font-size: rem-calc(16);
    }

    nav {
        margin-left: -16px;
        font-weight: bold;
    }

}

.top-navigation {
    z-index: 1000;
    a {
        color: lighten($black,10%);
        &:hover {
            color: $black;
        }
    }
}

.section_images {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    $w: (
        small: 200px,
        medium: 300px
    );
    @include expand-into-property($w,height);
}

.instituce-pseudo-breadcrumb {
    a {
        color: $medium-gray;
        text-decoration: underline;
        &:hover {
            color: $black;
        }
    }
}