


/**
 * 02. Utilities
 * 
 * Helper mixins that simplify wirking with responsive attributes.
 */

/* Expanding a list of responsive properties */
@mixin expand-list($list){
    @each $breakpoint, $props in $list {
        $scope: map-get($breakpoints,$breakpoint);
        @media (min-width:$scope) {
            @each $prop, $value in $props {
                #{$prop}:#{$value};
            }
        }
    }
}


/* Expand a list into a specified value */
@mixin expand-into-property($list,$property,$aspect:1) {
    @each $breakpoint,$value in $list {
        @media (min-width:map-get($breakpoints,$breakpoint)) {
            #{$property}:$value * $aspect;
        }
    }
}

/* expand a list into a specified value */
@mixin expand-into-property-important($list,$property,$aspect:1) {
    @each $breakpoint,$value in $list {
        @media (min-width:map-get($breakpoints,$breakpoint)) {
            #{$property}:$value * $aspect !important;
        }
    }
}

// expand a list into a specified value without aspect
@mixin expand-into-property-direct($list,$property) {
    @each $breakpoint,$value in $list {
        @media (min-width:map-get($breakpoints,$breakpoint)) {
            #{$property}:$value;
        }
    }
}