<div class="params">
    {{#each instituce-parameters }}
    <div class="params-row padding-quarter-vertical">
        <div class="params-title">
            {{ this.name }}
        </div>
        <div class="params-value" {{#if this.prop}}itemprop="{{this.prop}}"{{/if}} {{#if this.raw}}content="{{this.raw}}"{{/if}}>
            {{{this.value}}}
        </div>
    </div>
    {{/each}}
</div>