<!-- Breadcrumb pro pobočku -->
<p class="color-medium-gray instituce-pseudo-breadcrumb">

    <span class="color-black">Výstavní síň "13"</span> je součástí <a href="/instituce-detail.html">Název nadřazené instituce</a>

</p>

<!-- Breadcrumb pro top level pobočku -->
<p class="color-medium-gray instituce-pseudo-breadcrumb">

    <span class="color-black">Název instituce</span> má celkem <a href="#pobocky" data-smooth-scroll="" data-offset="100">X poboček</a>
        
</p>