<div id="pobocky" class="cell small-12 intermedium-6">
    <p class="padding-quarter-top">
        <strong>Pobočky</strong>
    </p>
    <div class="grid-x grid-margin-x grid-margin-y">
        {{#each instituce-pobocky }}
        <a itemprop="department" itemscope itemtype="http://schema.org/EducationalOrganization" href="/instituce-detail.html" class="teaser-link cell small-12 mobile-6">
            <div class="card teaser">

                <header class="card-section">
                    <h4 class="card-title" itemprop="name">{{this.name}}</h4>
                </header>
                <div class="card-section card-type color-medium-gray">
                    XX programů <span class="dashicons dashicons-arrow-right-alt color-primary float-right"></span>
                </div>
                <div class="hidden" itemprop="url">http://URL-adresa-instituce-pokud-je-vyplnena.cz</div>
            </div>
        </a>
        {{/each }}
    </div>
</div>