<!-- Začátek shortcodu -->
<div class="grid-x grid-margin-x grid-margin-y">
{{#each sample-events }}
    <a href="{{this.url}}" target="_blank" class="teaser-link cell small-12 medium-6 large-4">
        <article class="card teaser">
            <div class="card-section">
                    {{#if this.date~}}<div class="card-text-block color-dark-gray">{{this.date}}</div>{{/if}}
                <h3 class="card-title">{{ this.name }}</h3>
                <div class="card-institution color-dark-gray padding-quarter-bottom">
                    {{#each this.institutions}}
                        <div>{{this.name}}</div>
                    {{/each}}
                </div>
                <p>{{ this.description }}</p>
            </div>
            <div class="card-section card-type">
                <span class="color-primary float-right">
                    <span class="margin-quarter-right">Více informací</span>
                    <span class="dashicons dashicons-arrow-right-alt color-primary "></span>
                </span>
            </div>
        </article>
    </a>
{{/each }}
</div>
<!-- / Konec shortcodu -->