.params {

}
.params-row {
    display:flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $white;
    &:last-child {
        @media ( min-width: map-get($breakpoints,large) ) {
            border-bottom: 0;
        }
    }
}
$aspects: (
    small: 100%,
    medium: 40%,
);
@each $bp, $w in $aspects {
    .params-title {
        width: $w;
        font-weight: bold;
    }

    .params-value {
        @if $w != 100% {
            width: 100% - $w;
        }
        @else {
            width: 100%;
        }
    }
}