.button {
    &.transparent-primary {
        background-color: transparent !important;
        // color: get-color(primary) !important;
        &:hover {
            color: darken(get-color(primary),10%) !important;
        }
    }
}

// Tento element jediný je vztažený k obrázkovému kontejneru
// ne přímo k obrázku.
.image_instituce-detail {
    img {
        max-width: 100%;
        height: auto;
    }
}

.image_project-logo {
    max-width: 150px;
}

.image_instituce-logo {
    // max-width: 300px;
    $square: (
        small: (
            height: 150px,
            width: 250px
        ),
        medium: (
            height:200px,
            width: 350px
        )
    );
    @include expand-list($square);
    @media ( max-width: map-get($breakpoints,detail-collapse) ) {
        margin: 0px auto;
    }
    > img {
        object-fit: contain;
        object-position: left center;
        max-height: 100%;
        @media ( max-width: map-get($breakpoints,detail-collapse) ) {
            max-width: 100%;
        }
        @media ( min-width: map-get($breakpoints,detail-collapse) ) {
            max-width: 400px;
        }
        height: auto;
    }
}

/**
 * Overlay u neaktivních inzerátů jsem napsal jako univerzální BEM modul. 
 *  Jest totiž otázkou, zda to bude aplikováno jen na programe anebo i na instituce.
 */
.entity-detail {

    &.entity-detail_inactive {

        position: relative;

        .entity-detail-overlay {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba( $light-gray, .8 );
        }

        .entity-detail-overlay-content {
            position: fixed;
            top: 30vh;
            width: 100%;
        }

        .entity-detail-overlay-text {
            max-width: 250px;
            background: white;
            margin: 0 auto;
        }
    }

}

.entity-detail-overlay {
    display: none;
}