// Styly pro teaser Programů, Akcí, Institucí a podobně

.teaser-link {
    color: $black;
    transition: color $speed ease-in-out;
    align-self: stretch;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    &:hover,
    &:focus {
        color: $black;
        .card-title {
            color: get-color(primary);
        }
    }
}

.teaser {
    width: 100%;
    height: 100%;  

    .card-teaser-image {
        width: 100%;
        background-color: get-color(primary);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        $heights: (
            small: 200px,
            mobile: 180px,
        );
        @include expand-into-property($heights, height,1);
        &.card-teser-image_logo {
            background-size: contain;
            background-color: transparent;
        }
    }
    .card-text-block {
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0rem !important;
        }
    }
    .card-type {
        align-self: flex-end !important;
        flex-grow: 0;
        width: 100%;
        padding-top: 0 !important;
    }

}