.fd {
    
}

.fd-header {
    display: block;
    height: 100%;
    @include styled-gutter(quarter);
    transition: transform $speed/2 ease-in-out, background-color $speed/2 ease-in-out;
    z-index: 999;
}
.fd-desk {

    position: relative;

    overflow: hidden;
    $h: (
        small: 300px,
        // medium: 350px,
        large: 375px,
    );
    @include expand-into-property($h,height);
}


$desks: (
    small: (
        max: medium,
        scopes: (
            even: (
                css: (
                    // background: white
                ),
                side: left,
                width: 50%,
                hover: 10%,
            ),
            odd: (
                css: (
                    // background: gray,
                ),
                side: right,
                width: 50%,
                hover: 10%,
            ),
        ),
    ),
    medium: (
        max: large,
        scopes: (
            "4n+1": (
                css: (
                    // background:red,
                ),
                side: left,
                width: 50%,
                hover: 10%,
                
            ),
            "4n+2": (
                css: (
                    // background: green,
                ),
                side: left,
                width: 50%,
                hover: 10%,
            ),
            "4n+3": (
                css: (
                    // background: blue,
                ),
                side: right,
                width: 50%,
                hover: 10%,
            ),
            "4n+4": (
                css: (
                    // background: yellow
                ),
                side: right,
                width: 50%,
                hover: 10%,
            )
        ),
        
    ),
    large: (
        max: xxlarge,
        scopes: (
            "4n+1": (
                css: (
                    // background:red,
                ),
                side: left,
                width: 40%,
                hover: 20%,
                
            ),
            "4n+2": (
                css: (
                    // background: green,
                ),
                side: left,
                width: 40%,
                hover: 20%,
            ),
            "4n+3": (
                css: (
                    // background: blue,
                ),
                side: right,
                width: 40%,
                hover: 20%,
            ),
            "4n+4": (
                css: (
                    // background: yellow
                ),
                side: right,
                width: 40%,
                hover: 20%,
            )
        ),
        
    ),
    xxlarge: (
        max: absolute,
        scopes: (
            "4n+1": (
                css: (
                    // background:red,
                ),
                side: left,
                width: 40%,
                hover: 30%,
                
            ),
            "4n+2": (
                css: (
                    // background: green,
                ),
                side: left,
                width: 40%,
                hover: 30%,
            ),
            "4n+3": (
                css: (
                    // background: blue,
                ),
                side: right,
                width: 40%,
                hover: 30%,
            ),
            "4n+4": (
                css: (
                    // background: yellow
                ),
                side: right,
                width: 40%,
                hover: 30%,
            )
        ),
        
    ),
);

.fd {
    @each $bp, $nth in $desks {

        @media ( min-width: map-get($breakpoints,$bp) ) and ( max-width: map-get($breakpoints,map-get($nth,max))) {

            // @debug map-get($nth,scopes);
            @each $selector, $props in map-get($nth,scopes) {
                .fd-link:nth-child(#{$selector}){
                    .fd-header {
                        position: absolute;
                        width: map-get($props,width);
                        @each $prop, $val in map-get($props,css) {
                            #{$prop}: $val !important;
                        }
                        @if map-get($props,side) == left {
                            left: 0px;
                            .fd-title {
                                text-align: right;
                            }
                        }
                        @else {
                            right: 0px;
                            
                        }
                    }

                    &:hover {
                        .fd-header {

                            $item: map-get($props,hover);

                            @if map-get($props,side) == left {
                                // @debug $item;
                                transform: translateX( -$item );
                            }
                            @else {
                                transform: translateX( $item );
                            }
                        }
                    }
                }
            }

        }    
    }
}

.fd-link {
    color: $black;
    &:hover {
        color: $black;
    }
}

.fd-title {
    font-family: $body-font-family;
    font-size: rem-calc(20);
    padding-right: 10px;
    // text-align: right;
    font-weight: bold;
}

.fd-bg {
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center center;
    transition: all $speed/2 ease-in-out;
}

.fd-desk {
    &:hover {
        .fd-bg {
            transform: scale(1.2);
        }
    }
}