// Překryv při načítání overlaye

.ff-overlay-container {
    position:relative;
}

.ff-overlay {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.ff-overlay_active {
        background-color: rgba( $light-gray, .8 );
        display:block;
    }
    .ff-overlay-wrapper {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    @-webkit-keyframes rotating /* Safari and Chrome */ {
        from {
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(-360deg);
          -o-transform: rotate(-360deg);
          transform: rotate(-360deg);
        }
      }
      @keyframes rotating {
        from {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -ms-transform: rotate(-360deg);
          -moz-transform: rotate(-360deg);
          -webkit-transform: rotate(-360deg);
          -o-transform: rotate(-360deg);
          transform: rotate(-360deg);
        }
      }

    .ff-spinner {
        // color: red;
        color: $medium-gray;
        color: get-color(primary);

        font-size: 30px;
        width: 30px;
        height: 30px;

        -webkit-animation: rotating 1s linear infinite;
        -moz-animation: rotating 1s linear infinite;
        -ms-animation: rotating 1s linear infinite;
        -o-animation: rotating 1s linear infinite;
        animation: rotating 1s linear infinite;
    }
    &.ff-overlay_small {
        .ff-spinner {
            font-size: 30px;
            width: 30px;
            height: 30px;
        }
    }
    &.ff-overlay_large {
        .ff-spinner {
            font-size: 60px;
            width: 60px;
            height: 60px;
        }
    }
    &.ff-overlay_horizontal {
        .ff-overlay-message {
            display:flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
        .ff-overlay-message-text {
            margin-left: 10px;
        }
    }
    &.ff-overlay_vertical {
        text-align: center;
        .ff-overlay-message-text {
            margin-top: 10px;
        }
    }
}