// Aktivní facety ve vyhledávání

.ff-tags {

    // position:relative;

    &.ff-tags_loading {
        opacity: .2;
    }

    @media (max-width: map-get($breakpoints,large)){
        text-align: center;
    }
    .ff-tags-item {
        display: inline-block;
        padding: 5px 10px;
        background: $white;
        margin-bottom: 3px;

        a {
            padding-left: 5px;
        }
        @media (max-width: map-get($breakpoints,large)){
            padding-bottom: 0px;
            .ff-tags-tag-title {
                display: inline-block;
                white-space: nowrap; 
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            a {
                display: inline-block;
                vertical-align: top;
            }
            
            
        }
    }
}