.ff {

    $facet-pasive-color: lighten($black,20%);
    $facet-active-color: $black;
    $ff-link-before-size: 20px;
    position:relative;
    padding-bottom: 15px;

    

    .ff-overlay-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .ff-search {
        border-bottom: 1px solid $light-gray;
        background-color: $white;
        // border: 3px $white solid;
        @include styled-gutter(base,padding,.5);
        .input-group {
            margin-bottom: 0;
        }
    }
    .ff-input-text {
        background-color: $light-gray;
    }

    .ff-group {
        border-bottom: 1px solid $light-gray;
        width: 100%;
        .ff-group-title {
            &::after {
                content:"↑";
                display: inline-block;
                float:right;
                color: get-color(primary);
            }
        }
        &.ff-group_expanded {
            .ff-group-title {
                &::after {
                    content: "↓";
                }
            }
            .ff-group-content {
                max-height: 0px;
            }
        }
        
    }
    .ff-group-title {
        background-color: $white;
        @include styled-gutter(base,padding,.5);
        cursor: pointer;
        transition:color $speed/2 ease-in-out;
        color: $facet-pasive-color; 
        &:hover {
            // color: get-color(primary);
            color: $black;
        }
    }
    .ff-group-content {
        background-color: $white;
        overflow: hidden;
        max-height: 999px;
        transition: max-height $speed*.75 ease-in-out;
    }

    

    .ff-facets {
        list-style-type: none;
        padding:none;
        margin-left: $ff-link-before-size;
    }
    .ff-link {
        
            > a {
                color: $facet-pasive-color; 
                transition: color $speed/3 ease-in-out;

                &:before {
                    content: "";
                    color: $medium-gray;
                    display:inline-block;
                    width: $ff-link-before-size;
                    margin-left: -$ff-link-before-size;
                    margin-bottom: -5px !important;
                    font-family: Dashicons;
                    transition:color $speed/3 ease-in-out;
                    text-align:left;
                }

                small {
                    color: darken($light-gray,10%);
                    padding-left: 3px;
                    transition: color $speed/3 ease-in-out;
                }

            }
            

            &:hover {
                > a {
                    color: $facet-active-color;
                    small {
                        color: $dark-gray;
                    }
                    &:before {
                        content: "";
                        color: get-color(primary);
                    }
                }
            }

        &.ff-link_active {
            > a { 
                color: get-color(primary); 

                &:before {
                    content:"";
                    color: get-color(primary);
                }

                &:hover {
                    &:before {
                        content: "";
                        color: get-color(alert);
                    }
                }

            }
            
        }

        &.ff-link_disabled {
            a { color: $medium-gray; }
            
            &:before {
                content:"";
                color: $medium-gray;
            }

        }
    }

    @media (min-width: map-get($breakpoints,large) ){

        // Mobilní trigger
        .ff-mobile-trigger {
            display:none;
        }

    }

    @media (max-width: map-get($breakpoints,large) ){

        #filter-form {
            max-height: 0px;
            overflow: hidden;
            transition: all $speed/2 ease-in-out;
        }

        // Expandovaný filtr
        &.ff_mobile-expanded {
            
            #filter-form {
                max-height: 9999px;
                // background: red;
            }
        }
        // Pokud není zadaný žádný filtr, zobraz celý filtr tak jako tak:
        &.ff_no-facet-active {
            .ff-mobile-trigger {
                display:none;
            }
            #filter-form {
                max-height: 99999px !important;
            }
        }
        
    }

    

}