/**
 * Form styling
 */

// The main search form has special styles
.form-style-main-search {

    transition: box-shadow $speed ease-in-out;
    
    $props: (
        medium: (
            max-width: 600px,
            margin: 0px auto,
        ),
        large: (
            max-width: 800px
        )
    );
    @include expand-list($props);

    // The default look of the input field
    .input-group-field {
        background: $light-gray;
        transition: background-color $speed ease-in-out;
        height: auto;
        // font-weight: 300;
        font-family: $header-font-family;
    }

    // Drop shadow on focus
    // see main-searchvield.js for interactivity
    &.shadow-drop-on-focus {

        &.drop-shadow {
            
            @include active-shadow();
            
            .input-group-field {
                background: white;
            }
        }

    }

}