.gallery {
    display:flex;
    flex-wrap: wrap;
    .gallery-link {
        displaY: block;
        cursor: pointer;
        transition: opacity .1s ease-in-out;
        &:hover {
            opacity: .7;
        }
    }
    $h: (
        small: 100px,
        medium: 115px,
        large: 135px,
    );
    .gallery-figure { 
         @include expand-into-property($h, height);
    }
    .gallery-image {
        object-fit: cover;
        width: 100%;
        @include expand-into-property($h, height);
    }
}