

$props: (
    bp: small,
    down: (
        inst: (
            text-align: center,
        ),
        inst-number: (

        ),
        inst-content: (

        ),
    ),
    up: (
        inst: (
            display: flex,
            flex-wrap: no-wrap,
            justify-content: space-between,
            align-items: flex-start,
        ),
        inst-num: (
            text-align: center,
            min-width: 40px,
            width: 40px,
            height: 40px,
            background: $white,
            border-radius: 50%,
            padding: 7px
        ),
        inst-content: (
            flex-basis: calc( 100% - 50px ),
            // flex-grow: 1
            padding-top: 7px,
        ),
        inst-title: (
            font-size: rem-calc(16),
            font-family: $body-font-family,
            font-weight: $global-weight-bold
        ),
    )
);

@mixin expand($props){
    @each $prop, $val in $props {
        #{$prop}: $val;
    }
}

@media (max-width: map-get($breakpoints, map-get($props,bp)) ) {
    .inst {

    }
    .inst-num {

    }
    .inst-content {

    }
}

@media (min-width: map-get($breakpoints, map-get($props,bp)) ) {
    
    @each $selector, $props in map-get( $props,up ) {
        .#{$selector} {
            @include expand($props);
        }
    }
    
}