// Mobilní navigace

// Mixin pro použití v kódu níže
@mixin mm-row-colors($color){
    transition:background-color $speed/2 ease-in-out;
    &:hover {
        background-color: $color;
    }
}

// Vlastní styly
.mm-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mm-list_top-level {
    padding: 30px 0;
}
.mm-list_sub-menu {
    overflow: hidden;
    max-height: 0px;
    transition: max-height $speed ease-in-out;
    background:$light-gray;
    li:not(:last-child) {
        border-bottom: 1px solid $white;
    }
    > * {
        @include mm-row-colors(lighten($white,2%))
    }
}

.mm-row {
    display:flex;
    flex-wrap: no-wrap;
    border-top: 1px solid $light-gray;
    > * {
        @include styled-gutter(quarter);
        @include mm-row-colors(darken($white,2%))
    }
    
}

.mm-list-item {
    &.mm-row_expanded {
        .mm-list_sub-menu {
            max-height: 600px;
        }
    }
}

.mm-link {
    flex-grow: 1;
}

.mm-expandator {
    width: 40px;
    cursor:pointer;
    text-align: center;
    color: get-color(primary);
}