$mol-max-width: $global-width;
$mol-container-width: $global-width;
$mol-bp-collapse: detail-collapse;

.mol {
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.mol-half {
    flex-grow: 1;
    @media (max-width: map-get($breakpoints,$mol-bp-collapse)) {
        text-align: center;
        ul.breadcrumbs {
            li {
                float: none;
                displaY: inline-block;
            }
        }
        .button-group {
            justify-content: center;
        }
    }
    width: 100%;
    @media (min-width: map-get($breakpoints,$mol-bp-collapse)) {
        width:50%;
    }
    &:last-child {
        background-color: $light-gray;
    }
    &.mol-half_image {
        $h:(
            small: 250px,
            mobile: 300px,
            medium: 400px,
            intermedium: 500px
        );
        @include expand-into-property($h,min-height);
    }
}
.mol-wrap {
    height: 100%;
    &.mol-wrap_not-fluid {
        @media ( min-width: $global-width ) {
            width: $mol-container-width/2;
            float:right;
        }
        > * {
            @include styled-gutter(base, padding, .5, (left right));
        }
    }
    &.mol-wrap_stretched-content {
        display:flex;
        flex-direction: column;
        > *:first-child {
            flex-grow: 1;
        }
        > .middle-part {
            flex-grow: 1;
        }
        > *:last-child {
            vertical-align:bottom;
            position:relative;
            .bottom-wrapper {
                position:relative; 
                bottom: 0;
            }
        }
    }
    .upper-part {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        @media (max-width:400px){
            flex-wrap: wrap;
            justify-content: center;
            .institution-listing {
                text-align: center !important;
                margin-bottom:20px;
                margin-top: 10px;
            }
        }

        .image_project-logo {
            &:hover {
                opacity:.8;
            }
        }

        .institution-listing {
            text-align: right;
            a {
                display: block;
                color: $medium-gray;
                &.institution-listing-instituce {
                    margin-bottom: 5px;
                }
                &.institution-listing-pobocka {
                    max-width: 300px;
                }
                &:hover {
                    color: $black;
                }
            }
        }
    }
}