/**
 * Oprava rozbalovacího menu
 * jakož i rozličné stylování jeho.
 */

 $resizing-navbar: false;

.styled-title-bar {

    // Oprava flexboxu
    flex-wrap: wrap;

    // Výpis transition
    transition: padding $speed ease-in-out;

    // Výchozí styly title-bar-menu
    .title-bar-menu {
        width: 100%;
        transition:max-height .3s ease-in-out;
        overflow:hidden;
        max-height: 0px;
    }

    // Aktivovaný title bar
    &.expanded {
        

        .title-bar-menu {
            max-height: 400px;
        }
    }

    // Oprava záhlaví
    .title-bar-title {

        
        
        @media ( max-width: 480px ) {
            max-width: 250px;
        }

        @media ( max-width: 350px ) {
            max-width: 200px;
        }

    }
}

/** Chování responsivní hlavičky v rámci sticky layoutu */
@if $resizing-navbar {
    .sticky {
        &.is-anchored {
            .styled-title-bar {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}

.site-header {
    .nav-school-year {
        color: $medium-gray;
        font-weight: $global-weight-normal;
        transition: color $speed/2 ease-in-out;
    }
    &:hover {
        .nav-school-year {
            color: get-color(primary);
        }
    }
}

