.overview {
    
    background: black;
    color: white;
    
    position:fixed;

    bottom: 20px;
    right: 20px;
    padding: 10px;

    ul {
        padding: 0;
        margin-bottom: 0;
    }
    a {
        color: $white;
        &:hover {
            color:get-color(primary);
        }
    }
}