.quick-links {

    .quick-links-mobile {
        max-width: 300px;
        margin: 0 auto;
        .first-level-link {
            color: $white;
            border: 1px solid $white;
            &::after {
                color: $white;
                border-left-color:$white;
            }
        }
    }

    .quick-links-desktop {
        .triggers {
            text-align:center;
            button {
                background-color: $light-gray;
                color: $black; // get-color(primary);
                transition: box-shadow $speed ease-in-out, background-color $speed ease-in-out;
                margin-bottom: 0;
                &.is-active,
                &:hover {
                    background-color: $white;
                }
                .mark {
                    color: get-color(primary);
                    font-weight: bold;
                    width: 10px;
                    text-align:center;
                    &.on { display:inline-block; }
                    &.off { display:none; }
                }
                &.is-active {
                    .mark.on { display:none; }
                    .mark.off { display:inline-block; }
                }
            }
        }
        .quick-filter-group {
            overflow: hidden;
            max-height: 0px;
            // transition: max-height $speed ease-in-out;
            &.is-active {
                max-height: 500px;
            }
        }
        .quick-filter-block {
            .wrapper {
                background-color: $white;
            }
        }
        .quick-filter-title {
            font-weight: bold;
        }
        .quick-filter-list {
            list-style-type: none;
            margin: 0px;
            li {
                margin-top: 5px;
            }
        }
    }

    // Badge hotfix
    .badge {
        background-color: transparent !important;
        color: $medium-gray;
        font-size: 0.8rem;
        padding: 0;
        padding-left: 5px;
        margin: 0;
        width: auto !important;
        text-align: left;
    }

}