---
title: Akce
description: Ručně vyplněná popiska CMS stránky.
canonical: https://vzdelavaci-instituce.cz/info/cms
author: vzdelavaci-intituce.cz
publisher: Nabídka institucí neformálního vzděláváni v Plzeňském kraji
ogLocale: cs_CZ
ogImage: obrazek.jpg
ogType: website
tCard: summary_large_image
---


<!-- Zde začíná kód vložený do prvního code fieldu -->

<!-- Zde končí kód vložený do prvního code fieldu -->

<!-- Rich text field -->
<section class="section padding-section-vertical">
    <div class="grid-container">
        <div class="grid-x">
            <!-- 
                Následující buňka se zobrazí pouze v případě, že není vyplněno pole "první text field" 
            -->
            <div class="cell small-12 text-center">
                <h1 class="page-title page-title_cms">Nadpis stránky</h1>
            </div>
            <div class="page-content page-content_cms cell small-12">
                <!-- Toto je ukázka shortcodu s akcemi -->
                {{> akce-shortcode}}
            </div>
        </div>
    </div>
</section>

<!-- Zde začíná kód vložený do druhého code fieldu -->
<!-- Zde končí kód vložený do druhého code fieldu -->