---
title: Nabídka institucí neformálního vzdělávání v Plzeňském kraji
description: Ručně vyplněná popiska pro CMS stránky.
canonical: https://vzdelavaci-instituce.cz/
author: vzdelavaci-intituce.cz
publisher: Nabídka institucí neformálního vzděláváni v Plzeňském kraji
ogLocale: cs_CZ
ogImage: obrazek.jpg
ogType: website
tCard: summary_large_image
---

<!-- Tento kód je generický kvůlu tomu, že stránka je homepage -->
<h1 class="hidden">Nabídka institucí neformálního vzdělávání v Plzeňském kraji</h1>

{{> subheading-standard}}

<!-- Konec generického kódu -->

<!-- Zde následuje kód vložený do HTML skrze horní Code field -->

<section class="padding-section-vertical bg-white">
        <div class="grid-container fluid ">
            <div class="grid-x grid-padding-x align-center grid-margin-y">
            <h2 class="cell small-12 text-center hidden">Vyberte vhodný program rozvíjející Vaši výuku</h2>
            <div class="cell small-12 medium-8 text-center">
                <p><strong>Přehled neformálního vzdělávání v Plzeňském kraji na jednom místě.</strong></p>
                <div class="color-dark-gray"> Srozumitělně. Přehledně. S ohledem na potřeby pedagogů a žáků.</div>
                <div class="hidden">Řazeno podle RVP.</div>
            </div>
        </div>
    </div>
</section>

<section class="padding-section-vertical bg-light-gray">
    <div class="grid-container fluid ">
        <div class="grid-x grid-padding-x align-center grid-margin-y">
            {{> frontpage-desks }}
        </div>
    </div>
</section>

<section class="padding-section-vertical">

        <div class="grid-container">
            <div class="grid-x grid-padding-x align-center">

                <div class="cell small-12 medium-10">
                    <div class="padding-half-bottom color-dark-gray">Instituce zapojené v roce 2019/20</div>
                    {{> partners-frontpage }}
                </div>
    
                <div class="cell small-12 medium-2">
                    <div class="padding-half-bottom color-dark-gray">Podpořeno z:</div>
                    {{> cez-frontpage }}
                </div>
    
            </div>
        </div>
    
</section>

<section class="section section_images" style="background-image:url({{root}}/assets/img/samples/wall.jpg)">

</section>

<section class="padding-section-vertical bg-light-gray">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">

            <div class="cell small-12 medium-9 text-center">
                <p><strong>Vzdelavaci-instituce.cz</strong> je společný projekt institucí neformálního vzdělávání v Plzeňském kraji. Jeho cílem je <strong>zpřehlednit učitelům orientaci v nabídce různorodých aktivit</strong> tak, aby je mohli snadno využívat jako podporu a rozšíření své běžné výuky.</p>
            </div>

            {{> instrukce-frontpage }}
        </div>
    </div>

</section>

<section class="padding-section-vertical">

        <div class="grid-container">
            <div class="grid-x grid-padding-x align-center">

            <div class="cell small-12 text-center">

                <p>K dispozici je PDF verze katalogu ke stažení:</p>
                <p>
                    <a href="{{root}}/assets/data/Neformalni-vzdelavani-2019.20.zip">
                            <img src="{{root}}/assets/img/user-contrib/brochure-cover.jpg" style="max-width:200px; height: auto">
                    </a>
                </p>
                <p>
                    <a class="button primary" href="{{root}}/assets/data/Neformalni-vzdelavani-2019.zip">Stáhnout brožuru 2019/20</a>
                </p>
                
            </div>
        </div>
    </div>
</section>



<!-- Konec kódu vloženého skrze horní code field-->

<!-- Zde následuje kód vložený do rich text fieldu -->
{{> footer }}
<!-- Konec obsahu vloženého do rich text fieldu -->

