---
title: Zapojené instituce | Nabídka institucí neformálního vzdělávání v Plzeňském kraji
description: Muzea, ZOO, galerie, science centra, planetária a další instituce nabízející školám programy neformálního vzdělávání.
canonical: https://vzdelavaci-instituce.cz/instituce
author: vzdelavaci-intituce.cz
publisher: Nabídka institucí neformálního vzděláváni v Plzeňském kraji
ogLocale: cs_CZ
ogImage: obrazek.jpg
ogType: website
tCard: summary_large_image
---

{{> subheading-standard}}

<section class="section padding-half-top padding-section-bottom bg-light-gray">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x grid-margin-y">
            {{#each institutions}}
            <a href="/instituce-detail.html" class="teaser-link cell small-12 mobile-6 intermedium-4 xxlarge-3">
                <article class="card teaser">
                    <div class="card-section">
                        <div class="card-teaser-image card-teser-image_logo" style="background-image:url(/assets/img/loga/{{this.logo}}.jpg)">
                        </div>
                    </div>
                    <header class="card-section">
                        <h4 class="card-title">{{this.name}}</h4>
                    </header>

                    <div class="card-section card-type color-medium-gray">
                        XX programů {{#if this.antennes }}na Y pobočkách{{/if}} <span class="dashicons dashicons-arrow-right-alt color-primary float-right"></span>
                    </div>

                </article>
                
                
            </a>
            {{/each }}
        </div>
    </div>
</section>