---
title: Název instituce - Název pobočky (pokud je pobočkou)
description: Prvních pár znaků z anotace. Anebo dokázali byste vlastní SEO políčko pro description?
canonical: https://vzdelavaci-instituce.cz/vyhledavani
author: url-instituce-ci-pobocky.cz
publisher: Nabídka institucí neformálního vzděláváni v Plzeňském kraji
ogLocale: cs_CZ
ogImage: logo-instituce-ci-pobocky.jpg
ogType: website
tCard: summary_large_image
---

<article itemscope itemtype="http://schema.org/EducationalOrganization" class="entity-detail entity-detail_inactive">

    <div class="section entity-detail-content">
        <div class="mol">

            <div class="mol-half">
                <header class="mol-wrap mol-wrap_not-fluid mol-wrap_stretched-content padding-base-vertical">
                    <div class="upper-part">{{> instituce-logo }}</div>
                    <h1 class="hidden" itemprop="name">Západočeská univerzita v Plzni</h1>
                    <div class="middle-part">
                        <p class="anotace font-style-annotation">Západočeská galerie v Plzni dlouhodobě rozvíjí vzdělávací činnost spjatou s konkrétními výstavními projekty. Výstavy jsou zprostředkovávány interdisciplinárními metodami všem věkovým skupinám s důrazem na přímý kontakt s uměleckým dílem.</p>
                    </div>
                    <div class="padding-half-top lower-part">
                        <div class="primary button-group">
                            <a class="button" data-open="call-to-action-ux" href="/vyhledavani-s-filtry.html">Seznam programů</a>
                            <a class="button transparent-primary" data-smooth-scroll href="#info">
                                <span class="dashicons dashicons-arrow-down-alt"></span> Více informací
                            </a>
                        </div>
                    </div>
                </header>
            </div>
            <div class="mol-half">
                <!--
                        Následující obrázek by se vykresluje v lazyloadu.
                        Aktuálně se vykresluje pouze pomocí data-src. Ve výsledku prosíme o data-srcset.

                        Dokumentaci k lazyloadu vizte zde:
                        https://www.npmjs.com/package/vanilla-lazyload#lazy-responsive-image-with-srcset-and-sizes-
                        
                        Backend:
                        - obrázek jde z pole "Úvodní obrázek instituce"
                        - Obrázek by měl mít nimimálně 900-1000px na šířku a měl by být na šířku.

                        Tento komentář v produkční verzi odstraňte.
                -->
              
                <figure class="mol-wrap image_fit-container" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" >
                    <img itemprop="contentUrl" class="image_fit-figure lazy" data-src="{{root}}/assets/img/samples/programme.jpg">
                </figure>
                

            </div>
        </div>
    </div>


    <div class="section padding-section-vertical bg-light-gray links_primary-darker entity-detail-content">
        <main class="grid-container">
            <div class="grid-x grid-margin-x">

                <div id="info" class="cell small-12 intermedium-6">
                    {{> instituce-parameters}}
                </div>

                <!-- Seznam poboček -->
                <!-- 
                    Vypíše se pouze v případě, že nějaké pobočky existují.
                    Tento komentář v produkční verzi odstranit, děkuji.
                -->
                {{> instituce-pobocky}}

                <!-- Výpis fotek -->
                <!--
                    Obrázky se vypíší jako buňky gridu v případě, že jsou nějaké obrázky vůbec vyplněny.

                    Obrázky vypište jako srcset, prosím.

                    Tento komentář v produkční verzi odstranit, děkuji.
                -->
                {{#each instituce-obrazky }}
                <figure itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="cell small-12 intermedium-6 image_instituce-detail margin-half-top">
                    <img class="lazy" data-src="/assets/img/samples/{{this.file}}">
                    <figcaption itemprop="description" class="padding-half-all">{{this.text}}</figcaption>
                    <meta itemprop="contentUrl" content="/assets/img/samples/{{this.file}}">
                </figure>
                {{/each }}

            </div>
        </main>
    </div>

    {{> entity-overlay }}

</article>
