---
title: Název programu - Typ programu | Název instituce - Název pobočky (je-li)
description: Anotace produktu.
canonical: https://vzdelavaci-instituce.cz/vyhledavani
author: url-instituce-ci-pobocky.cz
publisher: Nabídka institucí neformálního vzděláváni v Plzeňském kraji
ogLocale: cs_CZ
ogImage: obrazek.jpg
ogType: website
tCard: summary_large_image
---

<article itemscope itemtype="http://schema.org/Course" class="entity-detail entity-detail_inactive">

    <div class="section entity-detail-content">
        <div class="mol">

            <div class="mol-half">
                <header class="mol-wrap mol-wrap_not-fluid mol-wrap_stretched-content padding-base-vertical">
                    <div class="upper-part">{{> program-logo }}</div>
                    <div class="middle-part">
                        <h1 itemprop="name">Název produktu</h1>
                        {{> program-breadcrumb}}
                        <p class="anotace font-style-annotation" itemprop="description">Nahlédněme pod hladinu světových moří a oceánů. Seznámíme se s neobyčejnými živočichy z chladných i tropických moří a jejich ohrožením.</p>
                    </div>
                    <div class="padding-half-top lower-part">
                        <div class="primary button-group">
                            <!--
                                Zde se vypíše vždy jen jeden button a text toho budonu bude vždy "Rezervace".
                                Podle toho, jak jsou vyplněna pole daného programu, zobrazí se patřičná varianta revealu:
                                a) je-li vyplněno pole "Odkaz do rezervačního rozhraní" => jedna varianta revealu
                                b) není-li vyplněno pole "Odkaz do rezervačního rozhraní" => druhá varianta revealu
                                Abych nemusel dělat speciální šablonu této routy jen s rozdílem jednoho
                                revealu, dám sem 2 tlačítka.
                                Ve výsledku však bude jen jedno (call-to-action). Tzn. přestože teď mají revealy každý své ID, ve výsledku bude jen jedno ID.
                                Vizte dokumentaci dokumentaci revealu:
                                https://foundation.zurb.com/sites/docs/reveal.html
                            -->
                            <button class="button" data-open="call-to-action-with">Rezervace</Button>
                            <button class="button" data-open="call-to-action-without">Rezervace bez</Button>
                            <a class="button transparent-primary" data-smooth-scroll href="#info">
                                <span class="dashicons dashicons-arrow-down-alt"></span> Více informací
                            </a>
                        </div>
                    </div>
                </header>
                <!-- 
                    Zde se vypisují pro účely náhledu 2 revealy, ale ve výsledku bude jen jeden.
                    Vizte komentář výše.
                -->
                {{> program-reveal-has-reservation }}
                {{> program-reveal-no-reservation }}
            </div>
            <div class="mol-half">
                    <!--
                        Následující obrázek by se vykresluje v lazyloadu.
                        Aktuálně se vykresluje pouze pomocí data-src. Ve výsledku prosíme o data-srcset.
                        Dokumentaci k lazyloadu vizte zde:
                        https://www.npmjs.com/package/vanilla-lazyload#lazy-responsive-image-with-srcset-and-sizes-
                        
                        Responsivní chování této komponenty implikuje, že:
                        - obrázek se sice zobrazí jakýkoliv, ale jeho velikost je daná velikostí nadřazeného elementu.
                        - nadřazený element se vyskytuje v maximální šířce 1024px
                        - proto obrázek do tohoto pole nahraný by měl mít velikost minimálně 900-1000px, aby zvětšení nebylo poznat.
                        - aby se nerozpadl design, je dále nutné, aby obrázek byl na šířku.

                        Tento komentář v produkční verzi odstraňte.
                    -->
                    <figure class="mol-wrap image_fit-container" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" >
                        <img class="image_fit-figure lazy" data-src="{{root}}/assets/img/samples/programme.jpg">
                        <meta itemprop="contentUrl" content="{{root}}/assets/img/samples/programme.jpg">
                    </figure>
            </div>

        </div>
    </div>

    <div class="section entity-detail-content padding-section-vertical bg-light-gray links_primary-darker">
        <main class="grid-container">
            <div class="grid-x grid-margin-x">

                <div id="info" class="cell small-12 intermedium-6">
                    {{> program-parameters}}
                </div>

                <div class="cell small-12 intermedium-6">
                    {{> program-gallery}}
                    {{> program-rvp}}

                </div>

            </div>
        </main>
    </div>

    {{> entity-overlay}}

</article>
