---
title: Vyhledávání v programech neformálního vzdělávání
description: Vzdělávací expozice, projekce, workshopy a komentované programy z nabídky nejvýznamnějších insitucí v Plzeňském kraji.
canonical: https://vzdelavaci-instituce.cz/vyhledavani
author: vzdelavaci-intituce.cz
publisher: Nabídka institucí neformálního vzděláváni v Plzeňském kraji
ogLocale: cs_CZ
ogImage: obrazek.jpg
ogType: website
tCard: summary_large_image
---

<section class="section padding-section-bottom padding-half-top bg-light-gray">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <aside class="cell small-12 large-3">
                {{> filter-collapsed }}
            </aside>
            <main class="cell small-12 large-9">
                <div class="grid-x grid-margin-x grid-margin-y">
                    {{> list-of-products}}
                </div>
                <div class="ff-overlay-container">
                    {{> pagination }}
                    {{> filter-overlay-small }}
                </div>
            </main>
        </div>
    </div>
</section>

