<div id="ff-tags" class="ff-tags ff-overlay-container cell small-12 ">
    {{#each active-filters}}
    <div class="ff-tags-item" {{#if this.note }}data-tooltip tabindex="1" title="RVP {{this.note}}" data-position="bottom"{{/if}}>
        <span class="ff-tags-tag-title">{{this.name}}</span><a href="/vyhledavani-s-filtry.html" class="ff-link-a">X</a>
    </div>
    
    {{/each }}

    {{> pagination }}

    {{> filter-overlay-small }}
</div>