<!--
    Stavy filtru - jsou důležité kvůli mobilu.
    Fungují takto:
    - .ff.ff_mobile-expanded 
        - na mobilu je filtr rozkliknutý
    - .ff.ff_no-facets-active
        - nejsou aktivní žádné filtry
        - na mobilu není zobrazeno ani tlačítko na úpravu filtrů ani nic jiného
    - .ff
        - běžný stav,kdy je aktivní jeden a více facetů.
        - na mobilu je filtr zobrazený spolu s tlačítkem "Upravit filtr"
-->

<div class="ff ff-overlay-container">
    {{> filter-collapse-button}}
    <form id="filter-form">
        <div class="ff-search">
            <div class="input-group">
                <input class="ff-input-text input-group-field" type="text" placeholder="Vyhledávání" value="Mars">
                <div class="input-group-button">
                    <input class="ff-button button dashicon-value" type="submit" value="">
                    <input class="button alert dashicon-value" type="submit" href="/vyhledavani.html" value="">
                </div>
            </div>
        </div>
        {{#each filter }}
        {{#if this.demoPresent }}
        <section class="ff-group {{#if this.demoCollapsed }}ff-group_expanded{{/if}}">
            <div class="ff-group-title">{{this.groupName}}</div>
            <nav class="ff-group-content">
                <ul class="ff-facets padding-half-horizontal margin-half-bottom">
                    {{#if this.facets ~}}
                    {{#each this.facets }}
                    {{#if this.demoPresent }}
                    <li class="ff-link {{#if this.demoActive }}ff-link_active{{/if}} ">
                        <a rel="bookmark" href="/vyhledavani-s-filtry.html" class="ff-link-a">{{this.name}} {{#unless this.demoActive}}<small>{{this.items}}</small>{{/unless}}</a>
                        {{#if this.facets }}
                        <ul class="ff-facets">
                            {{#each this.facets}}
                            <li class="ff-link"><a href="/vyhledavani-s-filtry.html" class="ff-link-a">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </li>
                    {{/if }}
                    {{/each}}
                    {{/if }}
                </ul>
            </nav>
        </section>
        {{/if}}
        {{/each }}
        <a href="/vyhledavani.html" class="button button-primary expanded margin-half-top ff-link-a">Resetovat filtr</a>
    </form>
    {{> filter-overlay-large }}
    
</div>