<!--
    Stavy filtru - jsou důležité kvůli mobilu.
    Fungují takto:
    - .ff.ff_mobile-expanded 
        - na mobilu je filtr rozkliknutý
    - .ff.ff_no-facets-active
        - nejsou aktivní žádné filtry
        - na mobilu není zobrazeno ani tlačítko na úpravu filtrů ani nic jiného
    - .ff
        - běžný stav,kdy je aktivní jeden a více facetů.
        - na mobilu je filtr zobrazený spolu s tlačítkem "Upravit filtr"
-->
<div class="ff ff_no-facet-active">
    {{> filter-collapse-button}}
    <form id="filter-form">
        <div class="ff-search">
            <div class="input-group">
            <input class="ff-input-text input-group-field" type="text" placeholder="Vyhledávání">
            <div class="input-group-button">
                <input class="ff-button button dashicon-value" type="submit" value="">
            </div>
            </div>
        </div>
        {{#each filter }}
        <section class="ff-group ff-group_expanded">
            <div class="ff-group-title">{{this.groupName}}</div>
            <nav class="ff-group-content">
                <ul class="ff-facets padding-half-horizontal margin-half-bottom">
                    {{#if this.facets ~}}
                    {{#each this.facets }}
                    <li class="ff-link">
                        <!--
                            V modelu nezvládám všude vypisovat počet položek na facet.
                            Platí včak, že:
                            - počet položek by měl být u všech neaktivních facetů
                            - jakmile je facet aktivní, počet by se zobrazovat neměl
                            - jakmile počet == 0, celý facet se schová
                            - jakmile má celá skupina 0 facetů, schová se celá skupina
                        -->
                        <a rel="bookmark" href="/vyhledavani-s-filtry.html" class="ff-link-a">{{this.name}} <small>{{this.items}}</small></a>
                    </li>
                    {{/each}}
                    {{/if }}
                </ul>
            </nav>
        </section>
        {{/each }}
    </form>
    {{> filter-overlay-large }}
</div>