<div class="ff-overlay ff-overlay_horizontal ff-overlay_small">
    <div class="ff-overlay-wrapper">
        <div class="ff-overlay-message">
            <span class="ff-spinner dashicons dashicons-image-rotate"></span>
            <div class="ff-overlay-message-text color-primary">
                <strong>Načítám</strong>
            </div>
        </div>
    </div>
</div>