<div class="padding-half-top">
    <ul class="pagination" role="navigation" aria-label="Pagination">
        <li>Nalezeno celkem 666 aktivit</li>
        <li class="disabled">Předchozí <span class="show-for-sr">stránka</span></li>
        <li class="current"><span class="show-for-sr">Jste na stránce</span> 1</li>
        <li><a href="#0" class="ff-link-a" aria-label="Stránka 2">2</a></li>
        <li><a href="#0" class="ff-link-a" aria-label="Stránka 3">3</a></li>
        <li><a href="#0" class="ff-link-a" aria-label="Stránka 4">4</a></li>
        <li><a href="#0" class="ff-link-a" aria-label="Stránka 5">5</a></li>
        <li><a href="#0" class="ff-link-a" aria-label="Stránka 6">6</a></li>
        <li><a href="#0" class="ff-link-a" aria-label="Další stránka">Další <span class="show-for-sr">stránka</span></a></li>
    </ul>
</div>