
<form class="input-group form-style-main-search shadow-drop-on-focus">
    <input 
        class="input-group-field shadow-on-focus font-style-master"
        type="text"
        placeholder="Aktivity pro Vaši třídu..."
    >
    <div class="input-group-button">
        <input
            type="submit"
            class="button conversion large shadow-on-focus dashicon-value color-white"
            value=""
        >
    </div>
</form>