<ul class="menu dropdown" data-dropdown-menu>
    {{#each main-menu }}
    <li {{#if this.children}}class="has-submenu"{{/if }}>
        <a href="{{this.url}}">{{this.title}}</a>
        {{#if this.children}}
        <ul class="menu vertical">
            {{#each this.children}}
            <li><a href="{{this.url}}">{{this.title}}</a></li>
            {{/each }}
        </ul>
        {{/if}}
    </li>
    {{/each }}
</ul>