<nav class="mm title-bar-menu">
    <ul class="mm-list mm-list_top-level">
        {{#each main-menu }}
        <li class="mm-list-item">
            <div class="mm-row"><a href="{{this.url}}" class="mm-link">{{this.title}}</a>{{#if this.children}}<div class="mm-expandator">+</div>{{/if}}</div>
            {{#if this.children}}
            <ul class="mm-list mm-list_sub-menu">
                {{#each this.children}}
                <li>
                    <div class="mm-row">
                        <a class="mm-link" href="{{this.url}}">{{this.title}}</a>
                    </div>
                </li>
                {{/each }}
            </ul>
            {{/if}}
        </li>
        {{/each }}
    </ul>
</nav>