<!-- Quick links to be displayed everywhere on the website -->
<nav class="quick-links margin-half-top">

    <!-- Responsivní navigace na mobilu -->
    <div class="quick-links-mobile hide-for-large">
        <ul class="vertical menu drilldown" 
            data-drilldown 
            data-auto-height="true"
            data-back-button="&lt;li class&#x3D;&quot;js-drilldown-back&quot;&gt;&lt;a tabindex&#x3D;&quot;0&quot;&gt;Zpět&lt;/a&gt;&lt;/li&gt;"
        >
        <li>
            <a href="" class="first-level-link">Najít vhodný program</a>
            <ul class="menu vertical nested">
            {{#each quick-links}}
                <li>
                    <a href="#">Pro {{ this.name }}</a>
                    <ul class="menu vertical nested">
                        {{#each this.filters }}
                        <li>
                            <a href="#">{{ this.name }}</a>
                            <ul class="menu vertical nested">
                                {{#each this.facets }}
                                <li><a href="/vyhledavani-s-filtry.html">{{ this.name }} <span class="badge">{{this.items}}</span></a></li>
                                {{/ each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
            </ul>
        </li>
        </ul>
    </div>

    <!-- Rychlá navigace na desktopu -->
    <div class="quick-links-desktop show-for-large">
        <!-- Spouštěcí tlačítka -->
        <div class="triggers">
        {{#each quick-links}}
            <button type="button" class="button quick-link-trigger" data-target="#filter_{{this.slug}}">{{this.name}} <span class="mark on">↓</span><span class="mark off">X</span></button>
        {{/each}}
        </div>
        <!-- Vlastní filtry -->
        <div class="filters">
        {{#each quick-links}}
            <!-- Filtr pro {{this.name}} -->
            <div id="filter_{{this.slug}}" class="quick-filter-group grid-x">
                {{#each this.filters}}
                <!-- Filtr pro {{this.name}} -->
                <div class="quick-filter-block cell small-12 medium-6 large-4 margin-half-top padding-half-right">
                    <div class="wrapper padding-half-all">
                        <div class="quick-filter-title">{{this.name}}</div>
                        <ul class="quick-filter-list">
                            {{#each this.facets}}
                                <li>
                                    <a href="/vyhledavani-s-filtry.html">{{this.name}}</a> <span class="badge">{{this.items}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}
            </div><!-- Konec filtru pro {{this.name}} -->
        {{/each}}
        </div>
    </div>

</nav>