
    {{#each frontpage-typy-programu}}
        <a href="/vyhledavani-s-filtry.html" class="teaser-link cell small-12 medium-6 large-3">
            <article class="card teaser" itemscope="" itemtype="http://schema.org/CreativeWork">
                <div class="card-teaser-image lazy" data-bg="url({{root}}/assets/img/samples/programme.jpg)"></div>
                <div class="card-section">
                    <h3 class="card-title" itemprop="name">{{{this.name}}}</h3>
                    <div class="card-institution" itemprop="description">
                        {{this.description}}
                    </div>
                </div>
                <div class="card-section card-type">
                    <span class="color-medium-gray">XXX expozic</span>
                    <span class="dashicons dashicons-arrow-right-alt color-primary float-right"></span>
                </div>
                {{#if this.hidden~}}
                <div class="hidden">
                {{#each this.hidden}}
                    <div itemprop="alternateName">{{this}}</div>
                {{/each}}
                </div>
                {{/if}}
            </article>
        </a>
    {{/each}}