{{#each instructions }}
<div class="cell small-12 medium-4 inst">
    <div class="inst-num">{{this.num}}</div>
    <div class="inst-content">
        <h3 class="inst-title">{{this.name}}</h3>
        {{#each this.p }}
        <p class="inst-desc">{{this}}</p>
        {{/each }}
    </div>
</div> 
{{/each }}