


<!-- Toto je ukázka komponent ve foundationu, které bude možno používat v rámci CMS stránek -->

<!-- Accordion -->
<h2>Accordion</h2>

<ul class="accordion" data-accordion>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Accordion 1</a>
      <div class="accordion-content" data-tab-content >
        <p>Panel 1. Lorem ipsum dolor</p>
        <a href="#">Nowhere to Go</a>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Accordion 2</a>
      <div class="accordion-content" data-tab-content>
        <textarea></textarea>
        <button class="button">I do nothing!</button>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Accordion 3</a>
      <div class="accordion-content" data-tab-content>
        Type your name!
        <input type="text"></input>
      </div>
    </li>
  </ul>

  <!-- Badge -->
<h2>Badge</h2>
<div>
    <span class="primary badge">1</span>
    <span class="secondary badge">2</span>
    <span class="success badge">3</span>
    <span class="alert badge">A</span>
    <span class="warning badge">B</span>
</div>

<!-- Breadcrumbs -->
<h2>Breadcrumbs</h2>
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="#0">Home</a></li>
      <li><a href="#0">Features</a></li>
      <li class="disabled">Gene Splicing</li>
      <li>
        <span class="show-for-sr">Current: </span> Cloning
      </li>
    </ul>
</nav>

<!-- Button -->
<h2>Button</h2>
<!-- Anchors (links) -->
<a href="#0" class="button">Learn More</a>
<a href="#features" class="button">View All Features</a>

<!-- Buttons (actions) -->
<button type="button" class="success button">Save</button>
<button type="button" class="alert button">Delete</button>

<a class="tiny button" href="#0">So Tiny</a>
<a class="small button" href="#0">So Small</a>
<a class="large button" href="#0">So Large</a>
<a class="expanded button" href="#0">Such Expand</a>

<div class="button-group">
  <a class="button">One</a>
  <a class="button">Two</a>
  <a class="button">Three</a>
</div>

<!-- Callout -->
<h2>Callout</h2>
<div class="callout">
    <h5>This is a callout.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <a href="#0">It's dangerous to go alone, take this.</a>
  </div>
  
  <div class="callout primary">
    <h5>This is a primary callout.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <a href="#0">It's dangerous to go alone, take this.</a>
  </div>
  
  <div class="callout secondary">
    <h5>This is a secondary callout</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <a href="#0">It's dangerous to go alone, take this.</a>
  </div>
  
  <div class="callout success">
    <h5>This is a success callout</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <a href="#0">It's dangerous to go alone, take this.</a>
  </div>
  
  <div class="callout warning">
    <h5>This is a warning callout</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <a href="#0">It's dangerous to go alone, take this.</a>
  </div>
  
  <div class="callout alert">
    <h5>This is an alert callout</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <a href="#0">It's dangerous to go alone, take this.</a>
  </div>

<!-- Orbit -->
<h2>Orbit</h2>
<div>
    <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
        <ul class="orbit-container">
          <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
          <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
          <li class="is-active orbit-slide">
            <div class="docs-example-orbit-slide">
              <p><strong>This is dodgerblue.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="docs-example-orbit-slide">
              <p><strong>This is rebeccapurple.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="docs-example-orbit-slide">
              <p><strong>This is darkgoldenrod.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="docs-example-orbit-slide">
              <p><strong>This is lightseagreen.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </li>
        </ul>
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0">
            <span class="show-for-sr">First slide details.</span>
            <span class="show-for-sr" data-slide-active-label>Current Slide</span>
          </button>
          <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
          <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
      </div>
</div>

<!-- Pagination -->
<h2>Pagination</h2>
<ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="disabled">Previous <span class="show-for-sr">page</span></li>
    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
    <li><a href="#0" aria-label="Page 2">2</a></li>
    <li><a href="#0" aria-label="Page 3">3</a></li>
    <li><a href="#0" aria-label="Page 4">4</a></li>
    <li class="ellipsis" aria-hidden="true"></li>
    <li><a href="#0" aria-label="Page 12">12</a></li>
    <li><a href="#0" aria-label="Page 13">13</a></li>
    <li><a href="#0" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
  </ul>

<!-- Reveal -->
<h2>Reveal</h2>
<p><a data-open="exampleModal1">Click me for a modal</a></p>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Table -->
<h2>Table</h2>
<table>
    <thead>
      <tr>
        <th width="200">Table Header</th>
        <th>Table Header</th>
        <th width="150">Table Header</th>
        <th width="150">Table Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
    </tbody>
  </table>

<!-- Tabs -->
<h2>Tabs</h2>
<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
    <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
    <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
    <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
    <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
    <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
  </ul>
  
  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <p>One</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel2">
      <p>Two</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-7.jpg">
    </div>
    <div class="tabs-panel" id="panel3">
      <p>Three</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel4">
      <p>Four</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-2.jpg">
    </div>
    <div class="tabs-panel" id="panel5">
      <p>Five</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel6">
      <p>Six</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-8.jpg">
    </div>
  </div>

<!-- Toggler -->
<h2>Toggler</h2>
<p><a data-toggle="menuBar">Expand!</a></p>

<ul class="menu" id="menuBar" data-toggler=".expanded">
  <li><a href="#0"><i class="fi-list"></i> <span>One</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Two</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Three</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Four</span></a></li>
</ul>