{{#each sample-projects }}
    <a href="/program-detail.html" class="teaser-link cell small-12 mobile-6 intermedium-4 xxlarge-3">
        <article class="card teaser">
            <!-- 
                Obrázek, který jde do lazyloadu níže, by měl být proporcionálně 
                zmenšen na maximální šířku 500px.
                SRCset u backgroundu dělat nebudeme.
                Tento komentář v produkční verzi vyhoďte, děkuji.
            -->
            <div class="card-teaser-image lazy" data-bg="url({{root}}/assets/img/samples/programme.jpg)"></div>

            <header class="card-section">
                <h4 class="card-title">{{ this.name }}</h4>
                <div class="card-institution">
                    {{#each this.institutions}}
                        <div>{{this.name}}</div>
                    {{/each}}
                </div>
            </header>
            <div class="card-section card-type color-medium-gray">
                <div class="card-text-block">{{this.type}}</div>
                {{#if this.date~}}<div class="card-text-block color-medium-gray">{{this.date}}</div>{{/if}}
            </div>
        </article>
    </a>
    {{/each }}