<div class="entity-detail-overlay">
    <div class="entity-detail-overlay-content">
        <div class="entity-detail-overlay-text padding-base-all">
            <p class="text-center">Tento program<br>již není aktuální</p>
            <p class="text-center color-dark-gray">Přejít na <a href="/">úvodní stránku</a>.</p>
        </div>
    </div>
</div>