<footer id="footer">
    <!-- Zde začíná WYSIWYG obsah -->
    <section class="">

    </section>
    <section class="gradient-background padding-section-vertical">

        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <aside>
                        <h4>vzdelavaci-instituce.cz</h4>
                        <p>Společný projekt institucí neformálního vzdělávání v Plzeňském kraji, který má za cíl zpřehlednit nabídku neformálního vzdělávání a pomoci pedagogům s co nejsnadnějším a nejefektivnějším způsobem je zařadit do běžné výuky.</p>
                    </aside>
                    <nav>
                        <ul class="menu">
                            {{#each main-menu}}
                            <li><a href="{{this.url}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                <div class="cell small-12 medium-6">
                    {{> partners-footer }}
                </div>
            </div>
        </div>
    </section>
    <!-- Zde končí WYSIWYG obsah -->
</footer>