<div data-sticky-container class="sticky-container top-navigation">
    <div data-sticky data-margin-top="0" data-sticky-on="small">
        <div class="title-bar styled-title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
            
            <div class="title-bar-title"><a class="site-header" href="/{{root}}">Nabídka institucí neformálního vzdělávání <span class="nav-school-year">2019/20</span></a></div>

            <div class="title-bar-right">

                <button id="navigationCloseButton" class="title-bar-menu-trigger hamburger hamburger--elastic" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>  
            </div>

            {{> main-menu-mobile}}
            
        </div>
        
        <div class="top-bar" id="responsive-menu">
            <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><a class="site-header" href="{{root}}/index.html" >Nabídka institucí neformálního vzdělávání <span class="nav-school-year">2019/20</span></a></li>
            </ul>
            </div>
            <div class="top-bar-right">
                {{> main-menu-desktop }}
            </div>
        </div>
    </div>
</div>