<section class="section gradient-background padding-search-vertical">
  <div class="grid-container">
    <div class="grid-x">
      <div class="col small-12">
      
        {{> searchfield }}
      
        {{> quick-links}}
      
      </div>
    </div>
  </div>
</section>