/**
 * 01. Specific mixins
 * 
 * The following mixins defines particular designs.
 */

/* The unified shadow to be casted by active elements */
@mixin active-shadow(){
    box-shadow: 5px 5px 0px darken(get-color(primary),30%);
}

/* Outputs the general gradient */
@mixin background-gradient($from:get-color(secondary),$to:get-color(primary),$angle:0.25turn){
    background: linear-gradient($angle,$from,$to);
}

/* The general gradient animated on hover */
@mixin animated-background($selectors:(":hover",".active" )){
    @include background-gradient(get-color(primary),get-color(secondary));
    background-position: 0%;
    background-size: 200%;
    transition: color $speed ease-in-out, background-position $speed ease-in-out;
    @each $selector in $selectors {
        &#{$selector} {
            background-position: 50%;
        }
    }
}

/* Clases scaffolding the mixins above */

.gradient-background {
    @include background-gradient(get-color(primary),get-color(secondary));
    background-position: 0%;
}

.animated-background { @include animated-background(); }

$custom-palette: (
    primary: get-color(primary),
    secondary: get-color(secondary),
    white: $white,
    black: $black,
    light-gray: $light-gray,
    medium-gray: $medium-gray,
    dark-gray: $dark-gray,
);

@each $scope, $color in $custom-palette {
    .color-#{$scope} { color: $color; }
    .bg-#{$scope} { background-color: $color; }
}

.links_primary-darker {
    a {
        color: darken( get-color(primary), 10% );
        &:hover {
            color: get-color(primary);
        }
    }
}