/**
 * Scaffolding gutter sizes for various purposes
 * 
 * The following styles can be used like this:
 * .{type}-{scope}-{side}
 * {type} = padding / margin specified in the types list
 * {scope} = name of the gutter type
 * {side} = t / l / b / r / horizontal / vertical
 */
$gutter-styles: (
    half: ( 
        sides: ( vertical horizontal bottom top right all ),
        types: ( margin, padding ),
        sizes: (
            small: map-get($grid-column-gutter,small) / 2,
            medium: map-get($grid-column-gutter, medium) / 2,
            large: map-get($grid-column-gutter, large) / 2,
        ),
    ),
    quarter: (
        sides: (vertical top bottom all),
        types: (padding),
        sizes: (
            small: map-get($grid-column-gutter,small) / 4,
            medium: map-get($grid-column-gutter, medium) / 4,
            large: map-get($grid-column-gutter, large) / 4,
        )
    ),
    base: ( 
        sides: ( bottom, top, vertical, horizontal, right, all ),
        types: ( margin, padding ),
        sizes: $grid-column-gutter,
    ),
    double: ( 
        sides: ( top, left ),
        types: ( padding ),
        sizes: (
            small: map-get($grid-column-gutter,small) * 2,
            medium: map-get($grid-column-gutter, medium) * 2,
            large: map-get($grid-column-gutter, large) * 2,
        ),
    ),
    search: (
        sides: ( vertical ),
        types: ( padding ),
        sizes: (
            small: 40px,
            medium: 60px,
            large: 80px,
        ),
    ),
    section: ( 
        sides: ( vertical bottom ),
        types: ( padding ),
        sizes: (
            small: 40px,
            medium: 50px,
            large: 60px,
        ),
    ),
);

/* Scaffold the gutter styles above */
@each $scope, $props in $gutter-styles {

    // loop the gutter types
    @each $type in map-get($props,types) {

        @each $side in map-get($props,sides){

            @if $side == all {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}: $val;
                        }
                        
                    }
                }
        
            } // end all

            @if $side == vertical {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}-top: $val;
                            #{$type}-bottom: $val;
                        }
                        
                    }
                }
        
            } // end vertical

            @if $side == horizontal {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}-left: $val;
                            #{$type}-right: $val;
                        }
                        
                    }
                }
        
            } // end horizontal

            @if $side == top {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}-top: $val;
                        }
                        
                    }
                }
        
            } // end top

            @if $side == left {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}-left: $val;
                        }
                        
                    }
                }
        
            } // end left

            @if $side == bottom {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}-bottom: $val;
                        }
                        
                    }
                }
        
            } // end bottom

            @if $side == right {

                // loop each sides
                @each $bp,$val in map-get($props,sizes) {
                    .#{$type}-#{$scope}-#{$side} {
                        @media ( min-width: map-get($breakpoints,$bp) ) {
                            #{$type}-right: $val;
                        }
                        
                    }
                }
        
            } // end right

        }

    } // end of gutter types
}

// Mixin for expanding padding /margin
@mixin styled-gutter( $scope: base, $variant: padding, $aspect: 1, $sides: (top left bottom right) ){
    $data: map-get($gutter-styles,$scope);
    $sizes: map-get($data,sizes);
    @each $bp, $gutter in $sizes {
        @media (min-width:map-get($breakpoints,$bp)){
            @each $side in $sides {
                #{$variant}-#{$side}: $gutter * $aspect;
            }
        }
    }
}