// Styly pro obrázky

.image_fit-width {
    width: 100%;
    height: auto;
}
.image_fit-container {
    width: 100%;
    height: 100%;
    // min-height: 300px;
    $h: (
        small: 225px,
        mobile: 320px,
        medium: 350px,
        large: 400px,
        xxlarge: 500px,
    );
    @include expand-into-property($h,min-height,1);
}
.image_bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image_fit-figure {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}