// Scaffoldování stylů

$styles: (
    normal: (
        small: (
            font-style: 16px,
        ),
    ),
    master: (
        small: (
            font-size: 19px,
            line-height: 24px,
        ),
        medium: (
            font-size: 30px,
            line-height: 35px,
        ),
        large: (
            font-size: 40px,
            line-height: 45px,
        ),
    ),
    annotation: (
        small: (
            font-size: 17px,
            line-height: 20px,
            font-family: $header-font-family,
        ),
        medium: (
            font-size: 20px,
            line-height: 27px,
        ),
        large: (
            font-size: 24px,
            line-height: 30px,
        ),
    ),
);

@each $scope, $props in $styles {

    // @debug $scope;
    .font-style-#{$scope} {
        @each $bp, $data in $props {
            // @debug $bp;
            @media ( min-width: map-get($breakpoints,$bp) ) {
                @each $attribute, $value in $data {
                    // @debug $scope, $bp , $attribute , $value;
                    #{$attribute}: $value;
                }
            }
        }
    }

}

.dashicon-value {
    font-family: Dashicons;
}

.font-weight-normal {
    font-weight: $global-weight-normal;
}