{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Metadata -->
    <meta name="robots" content="follow"/>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <meta name="author" content="{{author}}">
    <meta name="publisher" content="{{publisher}}">
    <meta name="canonical" content="{{canonical}}">
    <!-- Open Graph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:locale" content="{{ogLocale}}">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:site_name" content="{{publisher}}">
    <meta property="og:type" content="{{ogType}}">
    <meta property="og:image" content="https://vzdelavaci-instituce.cz/uploads/cms/{{ogImage}}">
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- Assety -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>
      
      {{>header }}

      {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      {{> body}}

      {{#unlesspage 'index'}}
        {{>footer }}
      {{/unlesspage }}

    <!--{{> nav-block}}-->

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
