<!-- Obrázková galerie -->
<div class="gallery grid-x grid-margin-x grid-padding-y">
    {{#each program-gallery }}
    <a itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="gallery-link cell small-6 mobile-4 medium-3 intermedium-6 large-4" href="http://localhost:8000/assets/img/samples/{{ this.img }}">
        <figure class="gallery-figure">
            <img class="lazy gallery-image" data-src="{{root}}/assets/img/samples/{{this.img}}" title="{{this.desc}}">
            <meta itemprop="contentUrl" content="{{root}}/assets/img/samples/{{this.img}}">
            <!-- Popiska se vypíše v případě, že je vyplněná. Jinak se nevypíše -->
            <meta itemprop="description" content="{{this.desc}}">
        </figure>
    </a>
    {{/each}}
</div>
