<div class="params">
    {{#each program-rvp }}
    <div class="params-row padding-quarter-vertical" >
        <div class="params-title" itemprop="educationalAlignment">
            RVP {{ this.name }}
        </div>
        <div class="params-value">
            {{#if this.items }}
            <ul>
            {{#each this.items }}
                <li>
                    <!--
                        Odkazy v seznamu by měly vést na filtrovací stránku s
                        patřičnými předvyplněnými parametry.
                        Možná bych do odkazu dal krom parametru "rvp" rovnou i 
                        parametr určující patřičný školní stupeň.

                        Tento komentář z produkční verze smazat prosím.
                    -->
                    <a itemprop="educationalAlignment"
                    itemscope itemtype="http://schema.org/AlignmentObject" href="/vyhledavani-s-filtry.html">
                        <meta itemprop="alignmentType" content="educationalSubject" />
                        <meta itemprop="educationalFramework" content="Rámcový vzdělávací program {{../name}}"/>
                        <span itemprop="targetName">{{this.name}}</span>
                    </a>
                    {{#if this.items}}
                    <ul>
                        {{#each this.items}}
                        <li>
                            <a itemprop="educationalAlignment"
                            itemscope itemtype="http://schema.org/AlignmentObject" href="/vyhledavani-s-filtry.html">
                                <meta itemprop="alignmentType" content="educationalSubject" />
                                <meta itemprop="educationalFramework" content="Rámcový vzdělávací program {{ ../../name }}"/>
                                <span itemprop="targetName">{{this.name}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
            {{/each }}
            </ul>
            {{/if}}
        </div>
    </div>
    {{/each }}
</div>