<nav aria-label="Nacházíte se zde:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="/instituce-detail.html"></a>Expozice</a></li>
        <li>březen 2019 - květen 2050</li>
    </ul>
</nav>