<div class="params">
    {{#each program-parameters }}
    <div class="params-row padding-quarter-vertical {{#if this.hidden}}hidden{{/if}}">
        <div class="params-title">
            {{ this.name }}
        </div>
        <div class="params-value" {{#if this.prop}}itemprop="{{this.prop}}"{{/if}} {{#if this.raw}}content="{{this.raw}}"{{/if}}>
            {{{this.value}}}
        </div>
    </div>
    {{/each}}
</div>

<div class="hidden">
    {{#each program-hidden-schema}}
    {{#if this.comment}}<!--{{this.comment}}-->{{/if}}
    <div itemprop="{{this.itemprop}}" {{#if this.itemscope}}itemscope itemtype="http://schema.org/{{this.itemscope}}"{{/if}}>
        {{#if this.content}}{{this.content}}{{/if}}
        {{#if this.children}}
            {{#each this.children }}

                {{#if this.comment}}<!--{{this.comment}}-->{{/if}}
                <div itemprop="{{this.itemprop}}" {{#if this.itemscope}}itemscope itemtype="http://schema.org/{{this.itemscope}}"{{/if}}>
                    {{#if this.content}}{{this.content}}{{/if}}
                    {{#if this.children}}
                        {{#each this.children }}
            

                        {{#if this.comment}}<!--{{this.comment}}-->{{/if}}
                        <div itemprop="{{this.itemprop}}" {{#if this.itemscope}}itemtype="http://schema.org/{{this.itemscope}}"{{/if}}>
                            {{#if this.content}}{{this.content}}{{/if}}
                        </div>

                        
                        {{/each}}
                    {{/if}}
                </div>

            {{/each}}
        {{/if}}
    </div>
    {{/each }}
</div>