<div class="reveal" id="call-to-action-with" 
data-reveal 
data-animation-out="fade-out fast" 
>
    <p>Pro rezervaci programu <strong>Název programu</strong> máte tyto možnosti:</p>
    <ul class="or">
        <li>
            <div><strong>Kontaktujte vzdělávací instituci</strong></div>
            <div>Zoologická a botanická zahradě města Plzně - Hlavní areál</div>
            <div class="button-group padding-quarter-vertical">
                <a href="tel:777555333" class="button primary">777 555 333</a>
                <a href="mailto:skoly@techmania.cz" class="button primary">skoly@techmania.cz</a>
            </div>
        </li>
        <li>
            <div>anebo se <strong>rezervujte online</strong></div>
            <div class="button-group padding-quarter-vertical">
                <a href="plzenska-vstupenka.cz/parametry/blabla/param?fsdfsd=terg&fsdfs=erfg" target="_blank" class="button primary">plzenska-vstupenka.cz</a>
            </div>
        </li>
    </ul>
    
    <p>V případě jakýchkoliv dotazů či nejasností se neváhejte obrátit na výše uvedené kontakty.</p>
        
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>