<div class="reveal" id="call-to-action-without" 
data-reveal 
data-animation-out="fade-out fast" 
>
    <p>Pro rezervaci programu <strong>Název programu</strong> kontaktujte vzdělávací instituci:</p>
    <div>Zoologická a botanická zahradě města Plzně - Hlavní areál:</div>
        <div class="button-group padding-quarter-vertical">
            <a href="tel:777555333" class="button primary">777 555 333</a>
            <a href="mailto:skoly@techmania.cz" class="button primary">skoly@techmania.cz</a>
        </div>
    <p>V případě jakýchkoliv dotazů či nejasností se neváhejte obrátit na výše uvedené kontakty.</p>
        
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>